body{
    width: 1920px;
    height: auto;
    background: #FFFFFF;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
	    
	.content{
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		    -webkit-justify-content: center;
		            justify-content: center;
		width: 1366px;
		height: auto;
		background: #FFFFFF;
		
		@media screen and(max-width: 1366px){
			width: 995px;
		}

		@media screen and(max-width:768px){
			width: 768px;
		}
				
		.hidden{
			display: none;
		}
	}
}