.comparison{
	width: 100%;
	height: auto;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
	margin-top: 200px;
	margin-bottom: 200px;
	
	.comparison__head__row{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    -webkit-justify-content: space-between;
		            justify-content: space-between;
		    width: 100%;
		    
		.comparison__products__features__head{
			width: 34%;
			height: 200px;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
		}

		.comparison__products__cloudVersion__head{
			background: #FFF;
			width: 33%;
			height: 200px;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			border-top: 10px solid #178A00;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
		}

		.comparison__products__boxVersion____head{
			background: #FFF;
			width: 33%;
			height: 200px;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			border-top: 10px solid #F76201;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
		}
	}

	.comparison__row{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    width: 100%;
		    -webkit-justify-content: space-around;
		            justify-content: space-around;
		    -webkit-align-items: center;
		            align-items: center;
		    border-top: 1px solid gray;
		    
		.comparison__products__features__cell{
			width: 33%;
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		}

		.comparison__products__cloudVersion__cell{
			background: #FFF;
			width: 33%;
			height: 50px;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
		}

		.comparison__products__boxVersion__cell{
			background: #FFF;
			width: 33%;
			height: 50px;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
		}
	}
}