@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.comparison{
	width: 1366px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: stretch;
	        align-items: stretch;
	margin-top: 100px;
	margin-bottom: 100px;
	
	h2{
		color: #333333;
		line-height: 46px;
		font:{
			family: 'Open Sans', sans-serif;
			size: 38px;
			weight: bold;
			style: normal;
		}
	}
	
	.comparison__table__wrap{
		width: 100%;
		height: 805px;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: stretch;
		        align-items: stretch;
		
		.comparison__column__features{
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    width: 33%;
			    border-top: 10px solid transparent;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
			    
			.comparison__column__head{
				width: auto;
				height: 150px;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: space-between;
				        justify-content: space-between;
				    border-bottom: 1px solid #E4E4E4;
				    
				.feature{
					display: flex;
					-webkit-justify-content: center;
					        justify-content: center;
					    -webkit-align-items: center;
					            align-items: center;
					    
					p{
						width: 360px;
						color: #999999;
						line-height: 26px;
						font:{
							family: 'Open Sans', sans-serif;
							style: normal;
							weight: normal;
							size: 16px;
						}
					}
				}
			}

			.comparison__features__body{
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    height: 620px;
				    width: 100%;
				    
				.cell{
					display: flex;
					-webkit-align-items: baseline;
					        align-items: baseline;
					width: 100%;
					height: 40px;
					border-bottom: 1px solid #E4E4E4;
					
					&:last-child{
						border-bottom: none;
					}
				}
			}
		}

		.comparison__column__cloud{
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    width: 33%;
			    border-top: 10px solid #178A00;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
				box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
			    
			.cloud-version__head{
				width: 100%;
				height: 150px;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: center;
				        justify-content: center;
				-webkit-align-items: center;
				        align-items: center;
				border-bottom: 1px solid #E4E4E4;
				
				img{
					margin: 10px;
				}
				
				p{
					margin: 0;
					width: 110px;
					color: #333333;
					line-height: 26px;
					font:{
						family: 'Open Sans', sans-serif;
						style: normal;
						weight: bold;
						size: 22px;
					}
				}
			}

			.cloud-version__body{
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				height: 620px;
				width: 100%;
				
				.cell{
					display: flex;
					-webkit-align-items: baseline;
					        align-items: baseline;
					    -webkit-justify-content: center;
					            justify-content: center;
					width: 100%;
					height: 40px;
					border-bottom: 1px solid #E4E4E4;
					
					&:last-child{
						border-bottom: none;
					}
				}
			}
		}

		.comparison__column__box{
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    width: 33%;
			    border-top: 10px solid #F76201;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
				box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
				margin-left: 30px;
			    
			.box-version__head{
				width: 100%;
				height: 150px;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: center;
				        justify-content: center;
				-webkit-align-items: center;
				        align-items: center;
				border-bottom: 1px solid #E4E4E4;
				
				img{
					margin: 10px;
				}
				
				p{
					margin: 0;
					width: 110px;
					color: #333333;
					line-height: 26px;
					font:{
						family: 'Open Sans', sans-serif;
						style: normal;
						weight: bold;
						size: 22px;
					}
				}
			}

			.box-version__body{
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				height: 620px;
				width: 100%;
				
				.cell{
					display: flex;
					-webkit-align-items: baseline;
					        align-items: baseline;
					    -webkit-justify-content: center;
					            justify-content: center;
					width: 100%;
					height: 40px;
					border-bottom: 1px solid #E4E4E4;
					
					&:last-child{
						border-bottom: none;
					}
				}
			}
		}
	}
}