@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.firstScreen{
	margin-top: 80px;
	width: 1366px;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	
	@media screen and(max-width: 1366px){
		margin-top: 40px;
		width: 995px;
	}
	
	.firstScreen__left{
		width: 50%;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		
		@media screen and(max-width: 1366px){
			width: 45%;
		}
		
		h2{
			color: #333333;
			line-height: 56px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 48px;
				weight: bold;
				style: normal;
			}

			@media screen and(max-width: 1366px){
				line-height: 48px;
				font: {
					size: 36px
				}
			}
		}

		p{
			color: #999999;
			line-height: 21px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 16px;
				weight: normal;
				style: normal;
			}

			@media screen and(max-width: 1366px){
				line-height: 18px;
				font: {
					size: 14px;
				}
			}
		}

		ul{
			li{
				margin-bottom: 15px;
				color: #333333;
				line-height: 26px;
				font:{
					family: 'Ubuntu', sans-serif;
					size: 20px;
					weight: normal;
					style: normal;
				}

				@media screen and(max-width: 1366px){
					margin-bottom: 10px;
					line-height: 23px;
					font:{
						size: 18px
					}
				}
			}
		}

		.firstScreen__left__buttons{
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    -webkit-align-items: center;
			            align-items: center;
			    width: 90%;
			    
			    @media screen and(max-width: 1366px){
			    	width: 100%;
			    }
			    
			button{
				width: 319px;
				height: 48px;
				background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
				border: none;
				-webkit-border-radius: 45px;
				        border-radius: 45px;
				color: #fff;
				line-height: 20px;
				font:{
					family: 'Ubuntu', sans-serif;
					size: 14px;
					weight: normal;
					style: normal;
				}

				@media screen and(max-width: 1366px){
					width: 248px;
					line-height: 18px;
				}
				
				&:hover{
					cursor: pointer;
				}
			}

			a{
				text-decoration: none;
				color: #F76201;
				line-height: 18px;
				font:{
					family: 'Open Sans', sans-serif;
					size: 14px;
					weight: bold;
					style: normal;
				}
			}
		}
	}

	.firstScreen__right{
		width: 50%;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		@media screen and(max-width: 1366px){
			img.first__screen__img-1920{
				display: none;
			}

			img.first__screen__img-1366{
				display: block;
			}
		}
		
		img{
			padding: 0;
		}
	}
}