@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

footer{
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
		-webkit-align-items: center;
		        align-items: center;
	    width: 1366px;
	    height: 550px;
	    margin-bottom: 100px;
	    
	    @media screen and(max-width: 1366px){
	    	width: 995px;
	    }

	    @media screen and(max-width: 768px){
	    	width: 768px;
	    }
	    
	.footer__gridSolutions{
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 30px;
		
		@media screen and(max-width: 1366px){
	    	grid-template-columns: 2fr 2fr 1fr 1fr;
	    }

	    @media screen and(max-width: 768px){
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    -webkit-align-items: center;
			            align-items: center;
	    }
		    
		.footer__grid-solutions__card{
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    width: 250px;
			    height: 265px;
			    -webkit-justify-content: flex-start;
			            justify-content: flex-start;
			    -webkit-align-items: flex-start;
			            align-items: flex-start;
			    
			@media screen and(max-width: 1366px){
		    	width: 240px;
		    }

		    @media screen and(max-width: 768px){
		    	display: none;
		    }
			    
			    .footer__grid-solutions__card__solutions{
			    	height: 60%;
			    	margin: 20px 0 30px 0;
			    	display: flex;
			    	-webkit-flex-direction: column;
			    	    -ms-flex-direction: column;
			    	        flex-direction: column;
			    	    -webkit-justify-content: flex-start;
			    	            justify-content: flex-start;
			    	    -webkit-align-items: flex-start;
			    	            align-items: flex-start;
			    	
			    	@media screen and(max-width: 768px){
			    		display: none;
			    	}
			    	ul{
						padding: 0;
						
						li{
							list-style: none;
							color: #333333;
							line-height: 24px;
							font:{
								family: 'Open Sans', sans-serif;
								size: 16px;
								weight: normal;
								style: normal;
							}
						}
					}
			    }
			    
			b{
				color: #333333;
				line-height: 32px;
				font:{
					family: 'Open Sans', sans-serif;
					size: 17px;
					weight: bold;
					style: normal;
				}

				@media screen and(max-width: 768px){
					font:{
						size: 14px;
					}
				}
			}

			a{
				text-decoration: none;
				display: flex;
				-webkit-align-items: baseline;
				        align-items: baseline;
				color: #F76201;
				line-height: 18px;
				font:{
					family: 'Open Sans', sans-serif;
					size: 14px;
					weight: bold;
					style: normal;
				}

				img{
					margin: 5px;
				}

				@media screen and(max-width: 768px){
					display: none;
				}
			}
		}
	}

	.footer__gridSolutions-768{
		@media screen and(min-width: 768px){
			display: none;
		}
		
		width: 100%;
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		
		ul{
			padding: 0;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    width: 100%;
			li{
				list-style: none;
				display: flex;
				-webkit-justify-content: center;
				        justify-content: center;
				
				a{
					color: #333333;
					text-decoration: none;
					line-height: 32px;
					font:{
						family: 'Open Sans', sans-serif;
						size: 14px;
						weight: bold;
						style: normal;
					}

					img{
						margin-left: 8px;
					}
				}
			}
		}
	}

	.footer__contacts{
		margin-top: 50px;
		width: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		
		.footer__contacts__left{
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    width: 30%;
			    -webkit-align-items: flex-start;
			            align-items: flex-start;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    
			@media screen and(max-width: 1366px){
				width: 38%;
			}
			    
			.footer__contacts__logo{

				@media screen and(max-width: 1366px){
					display: flex;
				-webkit-justify-content: center;
				        justify-content: center;
				    -webkit-align-items: center;
				            align-items: center;
				}

				img{
					
				}
			}

			.footer__contacts__phoneAndAddress{
				
				ul{
					padding: 0;
					
					li:first-child{
						line-height: 26px;
						font:{
							family: 'Open Sans', sans-serif;
							size: 20px;
							weight: bold;
							style: normal;
						}

						@media screen and(max-width: 1366px){
							line-height: 23px;
							font:{
								size: 18px;
							}
						}
					}

					li{
						list-style: none;
						color: #333333;
						line-height: 20px;
						font:{
							family: 'Open Sans', sans-serif;
							size: 14px;
							weight: normal;
							style: normal;
						}
					}
				}
			}
		}

		.footer__contacts__right{
			width: 56%;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
		    display: flex;
		    -webkit-align-items: center;
		            align-items: center;
		    -webkit-justify-content: space-between;
		    	justify-content: space-between;	
		    
		    @media screen and(max-width: 1366px){
		    	width: 60%;
		    	-webkit-justify-content: space-around;
		    	        justify-content: space-around;
		    }
		    	    
		    .footer__contacts__socialLinks{
		    	height: auto;
		    	width: 350px;
		    	display: flex;
		    	-webkit-flex-direction: row;
		    	    -ms-flex-direction: row;
		    	        flex-direction: row;
		    	    -webkit-align-items: center;
		    	            align-items: center;
		    	-webkit-justify-content: space-around;
		    	        justify-content: space-around;
		    	
		    	@media screen and(max-width: 1366px){
		    		img{
			    		width: 47px;
			    		height: 47px;
		    		}
		    	}
		    }

		    .footer__contacts__downloadLinks{
		    	height: auto;
		    	width: 350px;
		    	display: flex;
		    	-webkit-flex-direction: row;
		    	    -ms-flex-direction: row;
		    	        flex-direction: row;
		    	    -webkit-align-items: center;
		    	            align-items: center;
		    	-webkit-justify-content: space-around;
		    	        justify-content: space-around;
		    	
		    	@media screen and(max-width: 1366px){
		    		img:first-child{
			    		width: 145px;
			    		height: 47px;
		    		}

		    		img:last-child{
			    		width: 166px;
		    		}
		    	}
		    }
		}
	}

	.footer__lower__wrap{
		background: #F4F4F4;
		width: 1920px;
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		@media screen and(max-width: 1366px){
			width: 1366px;
		}
		    
		.footer__lower{
		    display: flex;
		    -webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		        width: 1366px;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		        
		    @media screen and(max-width: 1366px){
				width: 995px;
			}

			.footer__lower__left{
				display: flex;
		    -webkit-flex-direction: row;
		        -ms-flex-direction: row;
		            flex-direction: row;
				    -webkit-justify-content: flex-start;
				            justify-content: flex-start;
				    -webkit-align-items: center;
				            align-items: center;
				    
				img{
					margin: 5px;
				}

				p{
					color: #333333;
					line-height: 18px;
					font:{
						family: 'Open Sans', sans-serif;
						size: 14px;
						weight: normal;
						style: normal;
					}
				}
			}

			.footer__lower__right{
				display: flex;
		    -webkit-flex-direction: row;
		        -ms-flex-direction: row;
		            flex-direction: row;
				    
			    p{
			    	color: #333333;
					line-height: 18px;
					font:{
						family: 'Open Sans', sans-serif;
						size: 14px;
						weight: normal;
						style: normal;
					}
			    }
			}
		}
	}
}