@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header{
	width: inherit;
	height: 96px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	
	.header__top{
		display: flex;
		width: 1366px;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    -webkit-justify-content: space-between;
		            justify-content: space-between;
		background: #FFF;
		height: 40px;
		padding: 5px;
		
		@media screen and(max-width: 1366px){
			width: 995px;
		}

		@media screen and(max-width: 768px){
			display: none;
		}

		a{
			padding: 0;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-align-items: center;
			        align-items: center;
			color: #6F6F6F;
			line-height: 18px;
			text-decoration: none;
			font:{
				family: 'Open Sans', sans-serif;
				style: normal;
				weight: normal;
				size: 14px;
			}

			img.prev{
				width: 10px;
				height: 10px;
				margin-left: 8px;
			}

			img.close{
				width: 15px;
				height: 15px;
				margin-left: 8px;
			}
		}
	}
		
	.header__bottom__wrap{
		width: 1920px;
		height: 65px;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		background: #F4F4F4;
		
		@media screen and(max-width: 1366px){
			width: 1366px;
		}

		@media screen and(max-width: 768px){
			width: 768px;
		}
		
		.header__bottom{
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			width: 1366px;
			height: 100%;
			padding: 5px;
			background: transparent;
			
			@media screen and(max-width: 1366px){
				width: 995px;
			}

			@media screen and(max-width: 768px){
				width: 650px;
				height: 45px;
				-webkit-align-items: baseline;
				        align-items: baseline;
			}
			
			.header__bottom__left{
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    -webkit-align-items: center;
				            align-items: center;
				    width: 600px;
				    padding: 0;
				    
				@media screen and(max-width: 1366px){
					width: 35%;
				}

				@media screen and(max-width: 768px){
					display: none;
				}

				ul{
					padding: 0;
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					
					li{
						list-style: none;
						margin-right: 50px;
						
						a{
							display: flex;
							-webkit-flex-direction: row;
							    -ms-flex-direction: row;
							        flex-direction: row;
							    -webkit-align-items: center;
							            align-items: center;
							line-height: 18px;
							color:  #6F6F6F;
							text-decoration: none;
							font:{
								family: 'Open Sans', sans-serif;
								style: normal;
								weight: normal;
								size: 14px;
							}

							img{
								margin: 5px;
							}

							@media screen and(max-width: 1366px){
								font:{
									size: 13px;
								}
							}
						}
					}

					@media screen and(max-width: 1366px){
						li{
							margin-right: 22px;
						}
					}
				}
			}

			.header__bottom__right{
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    -webkit-align-items: center;
				            align-items: center;
				    width: 800px;
				    
				@media screen and(max-width: 1366px){
					width: 60%;
				}

				@media screen and (max-width: 768px){
					width: 100%;
				}
				    
				a{
					color: #6F6F6F;
					text-decoration: none;
					font:{
						family: 'Open Sans', sans-serif;
						style: normal;
						weight: normal;
						size: 14px;
					}

					@media screen and(max-width:1366px){
						font:{
							size: 13px;
						}
					}

					@media screen and(max-width: 768px){
						display: none;
					}
				}

				.searchbar{
					padding: 0;
					width: 233px;
					height: 32px;
					border: 1px solid #B6B6B6;
					-webkit-border-radius: 45px;
					        border-radius: 45px;
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					    -webkit-justify-content: space-around;
					            justify-content: space-around;
					    -webkit-align-items: center;
					            align-items: center;
					
					@media screen and(max-width: 1366px){
						width: 192px;
						
						img{
							margin-right: 10px;
						}
					}

					    
					input{
						border: none;
						background: none;
						width: 80%;
						
						@media screen and(max-width: 1366px){
							margin-left: 10px;
							width: 70%;
						}
					}
				}

				.header__bottom__right-768{
					display: none;
					
					@media screen and(max-width: 768px){
						display: flex;
						width: 35%;
						-webkit-align-items: center;
						        align-items: center;
						-webkit-justify-content: space-between;
						        justify-content: space-between;
						
						h3{
							color: #6F6F6F;
							line-height: 18px;
							text-decoration: none;
							font:{
								family: 'Open Sans', sans-serif;
								style: normal;
								weight: bold;
								size: 14px;
							}
						}
						
					}
				}

				.lang{
					margin: 10px;
					
					@media screen and(max-width: 768px){
						display: none;
					}
					
					b{
						color: #F76201;
						line-height: 18px;
						font:{
							family: 'Open Sans', sans-serif;
							style: normal;
							weight: bold;
							size: 14px;
						}
					}
				}
			}
		}
	}
}