@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header{
	width: 100%;
	height: 96px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	
	.header__top{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    -webkit-justify-content: space-between;
		            justify-content: space-between;
		background: #FFF;
		height: 40px;
		padding: 5px;

		a{
			padding: 0;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-align-items: center;
			        align-items: center;
			color: #6F6F6F;
			line-height: 18px;
			text-decoration: none;
			font:{
				family: 'Open Sans', sans-serif;
				style: normal;
				weight: normal;
				size: 14px;
			}

			img.prev{
				width: 10px;
				height: 10px;
				margin-left: 8px;
			}

			img.close{
				width: 15px;
				height: 15px;
				margin-left: 8px;
			}
		}
	}
		
	.header__bottom{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    -webkit-justify-content: space-between;
		            justify-content: space-between;
		width: 1920px;
		height: 65px;
		padding: 5px;
		background: #F4F4F4;
		
		.header__bottom__left{
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    -webkit-align-items: center;
			            align-items: center;
			    width: 25%;
			    padding: 0;
			ul{
				padding: 0;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				li{
					list-style: none;
					margin-right: 50px;
					
					a{
						display: flex;
						-webkit-flex-direction: row;
						    -ms-flex-direction: row;
						        flex-direction: row;
						    -webkit-align-items: center;
						            align-items: center;
						line-height: 18px;
						color:  #6F6F6F;
						text-decoration: none;
						font:{
							family: 'Open Sans', sans-serif;
							style: normal;
							weight: normal;
							size: 14px;
						}

						img{
							margin: 5px;
						}
					}
				}
			}
		}

		.header__bottom__right{
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    -webkit-align-items: center;
			            align-items: center;
			    width: 50%;
			    
			a{
				color: #6F6F6F;
				text-decoration: none;
				font:{
					family: 'Open Sans', sans-serif;
					style: normal;
					weight: normal;
					size: 14px;
				}
			}

			.searchbar{
				padding: 0;
				width: 233px;
				height: 32px;
				border: 1px solid #B6B6B6;
				-webkit-border-radius: 45px;
				        border-radius: 45px;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				    -webkit-justify-content: space-around;
				            justify-content: space-around;
				    -webkit-align-items: center;
				            align-items: center;
				    
				input{
					border: none;
					background: none;
					
				}
			}

			.lang{
				margin: 10px;
				
				b{
					color: #F76201;
					line-height: 18px;
					font:{
						family: 'Open Sans', sans-serif;
						style: normal;
						weight: bold;
						size: 14px;
					}
				}
			}
		}
	}
}