header{
	width: 100%;
	height: 96px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	
	.header__top{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    -webkit-justify-content: space-between;
		            justify-content: space-between;
		background: #FFF;
		width: 90%;
		height: 40px;

		a{
			padding: 0;
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			color: #6F6F6F;
			line-height: 18px;
			text-decoration: none;
			font:{
				family: PT Sans;
				style: normal;
				weight: normal;
				size: 14px;
			}

			img.prev{
				width: 10px;
				height: 10px;
			}

			img.close{
				width: 15px;
				height: 15px;
			}
		}
	}

	.header__bottom{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		width: 100%;
		height: 65px;
		background: #F4F4F4;
		
		.links{
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    -webkit-align-items: center;
			            align-items: center;
			    width: 60%;
			    background: red;
			
			a{
				color:  #6F6F6F;
				text-decoration: none;
				font:{
					family: PT Sans;
					style: normal;
					weight: normal;
					size: 14px;
				}

				img{
					width: 14px;
					height: 14px;
					margin: 2px;
				}
			}
		}
	}
}