@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.integration{
	width: 100%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 100px;
	
	@media screen and(max-width: 1366px){
		margin-bottom: 30px;
		width: 640px;
		height: auto;
		
		h3.integration__h3-1920{
			display: none;
		}

		h3.integration__h3-1366{
			margin-bottom: 70px;
			display: block;
			color: #333333;
			line-height: 41px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 32px;
				weight: bold;
				style: normal;
			}
		}
	}

	@media screen and(max-width: 320px){
		width: 280px;
	}

	
	h3.integration__h3-1920{
		margin-bottom: 70px;
		color: #333333;
		line-height: 41px;
		font:{
			family: 'Open Sans', sans-serif;
			size: 32px;
			weight: bold;
			style: normal;
		}
	}

	h3.integration__h3-1366{
		margin-bottom: 70px;
		display: block;
		color: #333333;
		line-height: 41px;
		font:{
			family: 'Open Sans', sans-serif;
			size: 32px;
			weight: bold;
			style: normal;
		}

		@media screen and(min-width: 1366px){
			display: none;
		}

		@media screen and(max-width: 768px){
			margin-bottom: 30px;
			line-height: 26px;
			font:{
				size: 20px;
			}
		}
	}

	.integration__cards{
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 2fr 2fr 2fr;
		grid-gap: 80px;
		
		@media screen and(max-width: 1366px){
			grid-template-rows: 2fr 2fr 2fr;
			grid-template-columns: 1fr 1fr;
		}

		@media screen and(max-width: 768px){
			grid-template-rows: 1fr;
			grid-template-columns: 2fr 2fr;
			grid-gap: 40px;
			
			.integration__card:nth-child(3){
				display: none;
			}

			.integration__card:nth-child(4){
				display: none;
			}

			.integration__card:nth-child(5){
				display: none;
			}

			.integration__card:nth-child(6){
				display: none;
			}
		}

		@media screen and(max-width: 320px){
			width: 280px;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    
			.integration__card:nth-child(2){
				margin-top: 30px;
				border-top: 10px solid #EF9D3A;
				-webkit-border-radius: 10px 10px 0 0;
				        border-radius: 10px 10px 0 0;
			}
		}
		
		.integration__card{
			width: 360px;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			
			@media screen and(max-width: 768px){
				width: 315px;
				height: auto;
				box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
				-webkit-border-radius: 10px 10px 0 0;
				        border-radius: 10px 10px 0 0;
				border-top: 10px solid #F76201;
				-webkit-align-items: center;
				        align-items: center;
				
			}

			@media screen and(max-width: 320px){
				width: 280px;
				height: auto;
			}
			    
			.card__header{
				width: 100%;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				    -webkit-justify-content: center;
				            justify-content: center;
				    -webkit-align-items: center;
				            align-items: center;
				
				@media screen and(max-width: 768px){
					width: 80%;
					-webkit-justify-content: center;
					        justify-content: center;
					    -webkit-align-items: center;
					            align-items: center;
				}

				@media screen and(max-width: 320px){
					height: 33%;
					-webkit-align-items: flex-end;
					        align-items: flex-end;
				}
				
				.card__header__left{
					display: flex;
					-webkit-justify-content: flex-end;
					        justify-content: flex-end;
					    -webkit-align-items: center;
					            align-items: center;
					width: 20%;
					
					@media screen and(max-width:1366px){
						width: 30%;
						-webkit-justify-content: flex-start;
						        justify-content: flex-start;
					}
					
					img{
						margin: 10px;
					}

					@media screen and(max-width: 768px){
						width: 33%;
					}
				}

				.card__header__right{
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					    -webkit-justify-content: flex-start;
					            justify-content: flex-start;
					    -webkit-align-items: center;
					            align-items: center;
					width: 44%;
					
					@media screen and(max-width: 768px){
						width: 66%;
						-webkit-justify-content: flex-start;
						        justify-content: flex-start;
						    -webkit-align-items: center;
						            align-items: center;
					}

					@media screen and(max-width: 320px){
						height: 100%;
						-webkit-flex-direction: column;
						    -ms-flex-direction: column;
						        flex-direction: column;
					    -webkit-justify-content: center;
					            justify-content: center;
						-webkit-align-items: flex-start;
						        align-items: flex-start;
					}

					b{
						color: #333333;
						line-height: 28px;
						font:{
							family: 'Open Sans', sans-serif;
							size: 20px;
							weight: bold;
							style: normal;
						}

						@media screen and(max-width: 768px){
							line-height: 21px;
							font:{
								size: 16px;
							}
						}
					}
				}
			}

			.card__text{
				padding: 10px;
				
				p{
					color: #333333;
					line-height: 24px;
					font:{
						family: 'Open Sans', sans-serif;
						size: 16px;
						weight: normal;
						style: normal;
					}
				}

				@media screen and(max-width: 768px){
					width: 75%;
				}
			}

			.card__details{
				padding: 10px;
				
				a{
					display: flex;
					-webkit-align-items: baseline;
					        align-items: baseline;
					color: #F76201;
					line-height: 18px;
					font:{
						family: 'Open Sans', sans-serif;
						size: 14px;
						weight: bold;
						style: normal;
					}

					img{
						margin: 5px;
					}
				}

				@media screen and(max-width: 768px){
					padding: 0;
					width: 100%;
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					    -webkit-justify-content: flex-start;
					            justify-content: flex-start;
					    -webkit-align-items: flex-start;
					            align-items: flex-start;
				}

				@media screen and(max-width: 320px){
					height: 60px;
					-webkit-align-items: center;
					        align-items: center;
				}
			}
		}
	}

	a{
		@media screen and(min-width: 768px){
			display: none;
		}

		@media screen and(max-width: 768px){
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: flex-start;
			            justify-content: flex-start;
			    -webkit-align-items: baseline;
			            align-items: baseline;
			    text-decoration: none;
			color: #F76201;
			line-height: 18px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 14px;
				weight: bold;
				style: normal;
			}
			margin: 40px;
			
			img{
				margin: 5px;
			}
		}
	}
}