@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.integration{
	width: 100%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 100px;
	
	@media screen and(max-width: 1366px){
		margin-bottom: 40px;
		
		h3.integration__h3-1920{
			display: none;
		}

		h3.integration__h3-1366{
			margin-bottom: 70px;
			display: block;
			color: #333333;
			line-height: 41px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 32px;
				weight: bold;
				style: normal;
			}
		}
	}
	
	h3.integration__h3-1920{
		margin-bottom: 70px;
		color: #333333;
		line-height: 41px;
		font:{
			family: 'Open Sans', sans-serif;
			size: 32px;
			weight: bold;
			style: normal;
		}
	}

	.integration__cards{
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 2fr 2fr 2fr;
		grid-gap: 80px;
		
		@media screen and(max-width: 1366px){
			grid-template-rows: 2fr 2fr 2fr;
			grid-template-columns: 1fr 1fr;
			grid-gap: 150px;
		}
		
		.integration__card{
			width: 360px;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    
			.card__header{
				width: 100%;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				    -webkit-justify-content: flex-start;
				            justify-content: flex-start;
				    -webkit-align-items: center;
				            align-items: center;
				
				.card__header__left{
					display: flex;
					-webkit-justify-content: center;
					        justify-content: center;
					    -webkit-align-items: center;
					            align-items: center;
					width: 20%;
					
					@media screen and(max-width:1366px){
						width: 30%;
						-webkit-justify-content: flex-start;
						        justify-content: flex-start;
					}
					
					img{
						margin: 10px;
					}
				}

				.card__header__right{
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					    -webkit-justify-content: flex-start;
					            justify-content: flex-start;
					    -webkit-align-items: center;
					            align-items: center;
					width: 44%;
					
					b{
						color: #333333;
						line-height: 28px;
						font:{
							family: 'Open Sans', sans-serif;
							size: 20px;
							weight: bold;
							style: normal;
						}
					}
				}
			}

			.card__text{
				padding: 10px;
				
				p{
					color: #333333;
					line-height: 24px;
					font:{
						family: 'Open Sans', sans-serif;
						size: 16px;
						weight: normal;
						style: normal;
					}
				}
			}

			.card__details{
				padding: 10px;
				
				a{
					display: flex;
					-webkit-align-items: baseline;
					        align-items: baseline;
					color: #F76201;
					line-height: 18px;
					font:{
						family: PT Sans Caption;
						size: 14px;
						weight: bold;
						style: normal;
					}

					img{
						margin: 5px;
					}
				}
			}
		}
	}
}