@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

nav{
	width: 100%;
	height: 70px;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: baseline;
	        align-items: baseline;
	
	@media screen and(max-width: 1366px){
		width: 995px;
	}

	@media screen and(max-width: 768px){
		-webkit-align-items: center;
		        align-items: center;
		width: 640px;
	}

	@media screen and(max-width: 320px){
		width: 280px;
		height: 65px;
		-webkit-align-items: center;
		        align-items: center;
	}
	
	.nav__left{
		width: 55%;
		height: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    -webkit-justify-content: space-between;
		            justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		
		@media screen and (max-width: 1366px){
			width: 65%;
		}

		@media screen and(max-width:768px){
			width: 25%;
			-webkit-justify-content: center;
			        justify-content: center;
			    -webkit-align-items: center;
			            align-items: center;
		}
		
		.nav__left__logo{
			display: flex;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			        -webkit-align-items: center;
			                align-items: center;
			width: 80px;
			height: auto;
			
			img{
				width: 100%;
			}
		}
		    
		ul{
			padding: 0;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-align-items: flex-end;
			        align-items: flex-end;
			height: 100%;
			
			@media screen and(max-width: 1366px){
				width: 80%;
				-webkit-justify-content: space-around;
				        justify-content: space-around;
			}

			@media screen and(max-width: 768px){
				display: none;
			}
			    
			li{
				margin: 10px;
				list-style: none;
				color: #6F6F6F;
				line-height: 18px;
				font:{
					family: 'Open Sans', sans-serif;
					style: normal;
					weight: normal;
					size: 14px;
				}
			}
		}
	}

	.nav__right{
		width: 40%;
		height: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		color: #333333;
		line-height: 18px;
		font:{
			family: 'Open Sans', sans-serif;
			style: normal;
			weight: normal;
			size: 14px;
		}
		
		b{
			color: #6F6F6F;
			line-height: 18px;
			font:{
				family: 'Open Sans', sans-serif;
				style: normal;
				weight: normal;
				size: 14px;
			}
		}

		@media screen and(max-width: 1366px){
			width: 30%;

			b{
				display: none;
			}
		}

		@media screen and(max-width: 768px){
			width: 300px;
			margin-right: 30px;
		}

		@media screen and(max-width: 320px){
			margin: 0;
			width: 160px;
		}
		
		.nav__right__login{
			width: 65px;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    -webkit-align-items: center;
			            align-items: center;
			    
			p{
				margin: 0;
				color: #F76201;
				line-height: 18px;
				font:{
					family: 'Open Sans', sans-serif;
					size: 14px;
					weight: bold;
					style: normal;
				}
			}

			img{
				@media screen and(max-width: 320px){
					display: none;
				}
			}
		}

		button{
			width: 176px;
			height: 48px;
			background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
			border: none;
			-webkit-border-radius: 45px;
			        border-radius: 45px;
			color: #fff;
			line-height: 18px;
			font:{
				family: 'Open Sans', sans-serif;
				style: normal;
				weight: bold;
				size: 14px;
			}
			
			&:hover{
				cursor: pointer;
			}

			@media screen and(max-width: 768px){
				width: 148px;
				height: 40px;
			}
		}
	}
}