@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.reviews{
	margin-bottom: 50px;
	margin-top: 30px;
	width: 1366px;
	height: 492px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	
	@media screen and(max-width: 1366px){
		width: 995px;
	}

	@media screen and(max-width: 768px){
		width: 715px;
	}

	@media screen and(max-width: 320px){
		width: 280px;
		height: 430px;
	}
	
	.reviews__cards{
		width: 100%;
		height: 455px;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-evenly;
		        justify-content: space-evenly;
		    padding: 10px;
		    
		@media screen and(max-width: 768px){
			width: 642px;
		}

		@media screen and(max-width: 320px){
			width: 280px;
		}
		    
		.reviews__card{
			width: 620px;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    -webkit-align-items: center;
			            align-items: center;
			    -webkit-justify-content: space-evenly;
			            justify-content: space-evenly;
			    height: 395px;
			    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				
			@media screen and(max-width: 1366px){
				width: 484px;
			}

			@media screen and(max-width: 768px){
				width: 642px;
				-webkit-align-items: flex-start;
				        align-items: flex-start;
				    -webkit-justify-content: center;
				            justify-content: center;

				&:last-child{
					display: none;
				}
			}

			@media screen and(max-width: 320px){
				-webkit-align-items: stretch;
				        align-items: stretch;
			    height: 365px;
			    width: 280px;
			}
				
			.reviews__card__header{
				width: 80%;
				height: 130px;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				-webkit-align-items: center;
				        align-items: center;
				
				@media screen and(max-width: 768px){
					width: 50%;
				}

				@media screen and(max-width: 320px){
					width: 100%;
				}
				    
				.reviews__card__header__left{
					padding-left: 10px;
					height: 70%;
					display: flex;
					-webkit-flex-direction: column;
					    -ms-flex-direction: column;
					        flex-direction: column;
					-webkit-justify-content: space-around;
					        justify-content: space-around;
					-webkit-align-items: flex-start;
					        align-items: flex-start;
					
					@media screen and(max-width: 768px){
						margin-left: 30px;
					}

					@media screen and(max-width: 320px){
						margin-left: 20px;
						width: 60%;
					}
					
					h5{
						margin: 0;
						color: #000000;
						line-height: 26px;
						font:{
							family: 'Open Sans', sans-serif;
							size: 20px;
							weight: bold;
							style: normal;
						}

						@media screen and(max-width: 768px){
							line-height: 21px;
							font:{
								size: 16px;
							}
						}
					}

					b{
						text-transform: uppercase;
						color: #999999;
						line-height: 48px;
						font:{
							family: 'Open Sans', sans-serif;
							size: 20px;
							weight: bold;
							style: normal;
						}
					}
				}

				.reviews__card__header__right{
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					-webkit-align-items: center;
					        align-items: center;
					-webkit-justify-content: flex-end;
					        justify-content: flex-end;
					
					img{
						-webkit-border-radius: 50%;
						        border-radius: 50%;
					    width: 80px;
					    height: 80px;
					    margin-right: 30%;
					}
				}
			}

			.reviews__card__content{
				padding-left: 10px;
				width: 80%;
				height: 150px;
				margin: 0;
				color: #333333;
				line-height: 24px;
				font:{
					family: 'Open Sans', sans-serif;
					size: 16px;
					weight: normal;
					style: normal;
				}

				@media screen and(max-width: 1366px){
					line-height: 22px;
				}
				
				@media screen and(max-width: 768px){
					width: 90%;
					height: 120px;
					-webkit-justify-content: center;
					        justify-content: center;
					    margin-left: 30px;
				}

				@media screen and(max-width: 320px){
					width: 85%;
					height: 90px;
					margin-left: 30px;
				    margin-left: 0;
					display: -webkit-box;
					-webkit-box-orient: vertical;
				    -webkit-line-clamp: 4;
				    overflow: hidden;
					-webkit-align-self: center;
					        align-self: center;
				}
			}

			.reviews__card__seeMore{
				@media screen and(min-width: 320px){
					display: none;
				}
				@media screen and(max-width: 320px){
					z-index: 3;
					position: relative;
					text-decoration: underline;
					left: 55px;
					color: #FF6500;
					line-height: 20px;
					font:{
						family: 'Open Sans', sans-serif;
						size: 16px;
						weight: normal;
						style: normal;
					}
					cursor: pointer;
				}
			}

			.reviews__card__video{
				height: 70px;
				width: 80%;
				margin-left: 30px;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				    -webkit-justify-content: flex-start;
				            justify-content: flex-start;
				    -webkit-align-items: center;
				            align-items: center;
				
				@media screen and(max-width: 320px){
					width: 100%;
					-webkit-justify-content: center;
					        justify-content: center;
					    margin-left: 0;
				}
				
				button{
					width: 225px;
					padding: 0 10px 0 10px;
					height: 48px;
					background: #fff;
					border: 2px solid #F76201;
					-webkit-border-radius: 45px;
					        border-radius: 45px;
					color: #F76201;
					line-height: 17px;
					font:{
						family: 'Open Sans', sans-serif;
						size: 13px;
						weight: bold;
						style: normal;
					}

					@media screen and(max-width: 768px){
						width: 248px;
						height: 40px;
					}
					
					&:hover{
						cursor: pointer;
						background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
						color: #fff;
						border: 2px solid transparent;
					}

					img{
						margin-left: 5px;
					}
				}
			}
		}
	}

	.reviews__allReviews__pages{
		@media screen and(max-width: 320px){
			margin-top: 20px;
		}

		display: flex;
		width: 160px;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		    
		.reviews__allReviews__page{
			width: 10px;
			height: 10px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background: #999999;
			
			&:hover{
				background: #F76201;
			}
		}
	}

	.reviews__allReviews__link{
		@media screen and(max-width: 320px){
			height: auto;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			margin-top: 20px;
		}

		a{
			position: relative;
			bottom: 15px;
			right: 550px;
			display: flex;
			-webkit-align-items: baseline;
			        align-items: baseline;
			color: #F76201;
			line-height: 18px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 14px;
				weight: bold;
				style: normal;
			}

			@media screen and(max-width: 320px){
				position: static;
			}

			img{
				margin: 5px;
			}

			@media screen and(max-width: 1366px){
				right: 400px;
			}

			@media screen and(max-width: 768px){
				right: 280px;
			}
		}
	}
}