@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.safetyAdvantages{
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    -webkit-justify-content: flex-start;
	            justify-content: flex-start;
	    width: 100%;
	    height: 455px;
	    margin-bottom: 200px;
	    
	@media screen and(max-width: 768px){
		margin-bottom: 30px;
	}

	h3.safetyAdvantage__h3-1366{
		@media screen and(max-width: 1366px){
			display: block;
			color: #333333;
			line-height: 41px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 32px;
				weight: bold;
				style: normal;
			}
		}
	}

	h3.safetyAdvantage__h3-1920{
		margin-bottom: 70px;
		color: #333333;
		line-height: 41px;
		font:{
			family: 'Open Sans', sans-serif;
			size: 32px;
			weight: bold;
			style: normal;
		}

		@media screen and(max-width: 1366px){
			display: none;
		}
	}

	.safety__illustration{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    
		.safety__illustration__pic{
			width: 45%;
			height: auto;
			
			@media screen and(max-width: 768px){
				display: flex;
				-webkit-justify-content: center;
				        justify-content: center;
				    -webkit-align-items: center;
				            align-items: center;
			}
			
			img.safety__illustration__pic-1920{
				display: block;
				
				@media screen and(max-width: 1366px){
					display: none;
				}
			}

			img.safety__illustration__pic-1366{
				display: none;
				
				@media screen and(max-width: 1366px) and (min-width: 768px){
					display: block;
				}
			}

			img.safety__illustration__pic-768{
				display: none;
				
				@media screen and(max-width: 768px){
					display: block;
				}
			}
		}

		.safety__illustration__features{
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    width: 55%;
			    height: auto;
			    
			ul{

				li{
					padding: 0;
					list-style: url('../img/Vector orange.png');
					margin: 30px;
					line-height: 32px;
					color: #333333;
					font:{
						family: 'Open Sans', sans-serif;
						size: 20px;
						weight: bold;
						style: normal;
					}

					@media screen and(max-width: 1366px){
						line-height: 28px;
						font: {
							size: 18px;
						}
					}

					@media screen and(max-width: 768px){
						line-height: 24px;
						font: {
							size: 14px;
						}
					}
				}
			}
		}
	}
}