@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.starting{
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
	    -webkit-align-items: flex-start;
	            align-items: flex-start;
	    width: 100%;
	    height: 380px;
	    margin-bottom: 100px;
	    padding: 10px;
	    
	    @media screen and(max-width: 1366px){
	    	margin-bottom: 30px;
	    }
	    
	h3{
		margin-bottom: 70px;
		color: #333333;
		line-height: 41px;
		font:{
			family: 'Open Sans', sans-serif;
			size: 32px;
			weight: bold;
			style: normal;
		}

		@media screen and(max-width: 768px){
			line-height: 28px;
			font: {
				size: 20px;
			}
		}
	}

	.starting__wrap{
		display: flex;
		-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
	    -webkit-align-items: center;
	            align-items: center;
	    width: 100%;
	    padding: 10px;
	    
	    @media screen and(max-width: 768px){
	    	-webkit-align-items: flex-start;
	    	        align-items: flex-start;
	    }

		.starting__divider{
			width: 1920px;
			height: 0;
			border-bottom: 1px dashed #B6B6B6;
			position: relative;
			top: 55px;
			
			@media screen and(max-width: 1366px){
				width: 1366px;
			}

			@media screen and(max-width: 768px){
				display: none;
			}
		}
		    
		.starting__cards{
			z-index: 2;
			width: 100%;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-around;
			        justify-content: space-around;
			height: 100%;
			
			@media screen and (max-width: 1366px){
				-webkit-justify-content: space-between;
				        justify-content: space-between;
			}

			@media screen and(max-width: 768px){
				display: none;
			}
			
			.starting__card{
				width: 25%;
				height: 250px;
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    -webkit-align-items: center;
				            align-items: center;
			    
				.starting__card__header{
					width: 47px;
					height: 76px;
					background: url('../img/2.png');
					-webkit-background-size: contain;
					     -o-background-size: contain;
					        background-size: contain;
					background-position: bottom;
					background-repeat: no-repeat;
					
					&:hover{
						background: url('../img/Group 262.png');
					}
				}

				.starting__card__content{
					height: 65%;
					width: 60%;
					display: flex;
					-webkit-flex-direction: column;
					    -ms-flex-direction: column;
					        flex-direction: column;
					    -webkit-justify-content: flex-start;
					            justify-content: flex-start;
					    -webkit-align-items: center;
					            align-items: center;
						    
					b{
						color: #333333;
						line-height: 41px;
						font:{
							family: 'Open Sans', sans-serif;
							style: normal;
							weight: bold;
							size: 32px;
						}
					}

					p{
						text-align: center;
						color: #333333;
						line-height: 28px;
						font:{
							family: 'Open Sans', sans-serif;
							style: normal;
							weight: bold;
							size: 20px;
						}
					}

					a{
						display: flex;
						-webkit-align-items: center;
						        align-items: center;
						text-decoration: underline;
						color: #F76201;
						line-height: 18px;
						font:{
							family: 'Open Sans', sans-serif;
							style: normal;
							weight: bold;
							size: 14px;
						}

						img{
							margin: 5px;
						}
					}
				}
			}
		}

		.starting__cards-768{
			@media screen and(min-width: 768px){
				display: none;
			}

			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 2fr 2fr;
			grid-gap: 80px;
			grid-auto-flow: column;
			
			.starting__card-768{
				min-height: 80px;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				    -webkit-justify-content: center;
				            justify-content: center;
				    -webkit-align-items: center;
				            align-items: center;
				    
				.starting__card__header-768{
					display: flex;
					width: 100%;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					    -webkit-justify-content: flex-start;
					            justify-content: flex-start;
					    -webkit-align-items: baseline;
					            align-items: baseline;
					    
					b{
						color: #333333;
						line-height: 26px;
						font:{
							family: 'Open Sans', sans-serif;
							style: normal;
							weight: bold;
							size: 22px;
						}
					}

					p{
						width: 145px;
						margin-left: 10px;
						color: #333333;
						line-height: 21px;
						font:{
							family: 'Open Sans', sans-serif;
							style: normal;
							weight: normal;
							size: 16px;
						}
					}
				}

				a{
					margin-left: 40px;
					text-decoration: underline;
					color: #F76201;
					line-height: 18px;
					font:{
						family: 'Open Sans', sans-serif;
						style: normal;
						weight: bold;
						size: 14px;
					}
				}
			}
		}
	}
}