@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.tryIt{
	width: 90%;
	height: 450px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: stretch;
	        align-items: stretch;
	margin-bottom: 70px;
	margin-top: 60px;
	
	@media screen and (max-width: 1366px){
		width: 995px;
	}

	@media screen and(max-width: 768px){
		width: 640px;
		height: 520px;
	}

	@media screen and(max-width: 320px){
		width: 280px;
		margin-bottom: 20px;
	}
	
	h3{
		color: #333333;
		line-height: 41px;
		font:{
			family: 'Open Sans', sans-serif;
			size: 32px;
			weight: bold;
			style: normal;
		}

		@media screen and(max-width: 1366px){
			margin-bottom: 15px;
		}

		@media screen and(max-width: 768px){
			margin-bottom: 10px;
		}

		@media screen and(max-width: 320px){
			line-height: 26px;
			font:{
				size: 20px;
			}
		}
	}

	.tryIt__inputs__wrap{
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		
		@media screen and(max-width: 768px){
			width: 640px;
			height: 315px;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			    -webkit-align-items: stretch;
			            align-items: stretch;
		}

		@media screen and(max-width: 320px){
			width: 280px;
		}
		
		.inputs{
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-justify-content: space-between;
			            justify-content: space-between;
			    -webkit-align-items: center;
			            align-items: center;
			    
			@media screen and(max-width: 768px){
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
			    -webkit-align-items: stretch;
			            align-items: stretch;
			}

			@media screen and(max-width: 320px){
				width: 280px;
			}

			input{
				width: 384px;
				height: 64px;
				border: 1px solid #B6B6B6;
				border-radius: 5px;
				color: #6F6F6F;
				line-height: 29px;
				font:{
					family: 'Open Sans', sans-serif;
					size: 16px;
					weight: normal;
					style: normal;
				}

				@media screen and(max-width: 1366px){
					width: 300px;
					height: 56px;
					padding-left: 20px;
				}

				@media screen and(max-width: 768px){
					width: auto;
					margin-bottom: 30px;
					padding-left: 20px;
				}

				@media screen and(max-width: 320px){
					width: 260px;
					height: 56px;
				}
			}
		}

		p{
			color: #6F6F6F;
			line-height: 29px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 14px;
				weight: bold;
				style: normal;
			}
		}
	}

	.tryIt__wrap{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    
		@media screen and(max-width: 768px){
			-webkit-align-items: center;
			        align-items: center;
		    -webkit-justify-content: space-between;
		            justify-content: space-between;
			width: 85%;
		}

		@media screen and(max-width: 320px){
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    width: 280px;
		    -webkit-justify-content: center;
		            justify-content: center;
		    -webkit-align-items: center;
		            align-items: center;
		    
		}
		    
		p{
			color: #6F6F6F;
			line-height: 29px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 14px;
				weight: normal;
				style: normal;
			}

			a{
				color: #FF4D00;
				line-height: 29px;
				font:{
					family: 'Open Sans', sans-serif;
					size: 14px;
					weight: normal;
					style: normal;
				}
			}
		}
		    
		button{
			margin-right: 30px;
			width: 319px;
			height: 48px;
			background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
			border: none;
			-webkit-border-radius: 45px;
			        border-radius: 45px;
			color: #fff;
			line-height: 18px;
			font:{
				family: 'Open Sans', sans-serif;
				size: 14px;
				weight: normal;
				style: normal;
			}
			
			&:hover{
				cursor: pointer;
			}

			@media screen and(max-width: 1366px){
				width: 288px;
			}

			@media screen and(max-width: 768px){
				p{
					width: 280px;
				}
			}

			@media screen and(max-width: 320px){
				width: 279px;
				margin: 0;
			}
		}
	}
}