@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.whyWe{
	width: 100%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
	height: 600px;
	margin-bottom: 70px;
	
	@media screen and (max-width: 1366px){
		margin-bottom: 30px;
	}

	@media screen and(max-width: 768px){
		width: 768px;
		height: auto;
		margin-top: 50px;
	}

	h3{
		margin-bottom: 70px;
		color: #333333;
		line-height: 41px;
		font:{
			family: 'Open Sans', sans-serif;
			size: 32px;
			weight: bold;
			style: normal;
		}

		@media screen and (max-width: 1366px){
			margin-bottom: 30px;
		}

		@media screen and(max-width: 768px){
			line-height: 26px;
			font:{
				size: 20px;
			}
		}
	}

	.whyWe__content{
		width: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		@media screen and(max-width: 768px){
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
		
		.whyWe__content__left{
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    -webkit-justify-content: flex-start;
			            justify-content: flex-start;
			    -webkit-justify-content: center;
			            justify-content: center;
			    -webkit-align-items: flex-start;
			            align-items: flex-start;
			    width: 55%;
			    
			@media screen and(max-width: 768px){
				width: 100%;
			}

			.whyWe__content__cards{
				display: grid;
				grid-template-rows: 2fr 2fr;
				grid-template-columns: 2fr 2fr;
				grid-gap: 30px;
				
				.whyWe__content__card{
					width: 330px;
					
					@media screen and(max-width: 1366px){
						width: 230px;
						height: 140px;
					}

					@media screen and(max-width: 768px){
						width: 280px;
						height: 120px;
					}
					
					b{
						color: #178A00;
						line-height: 56px;
						font:{
							family: 'Open Sans', sans-serif;
							size: 32px;
							weight: bold;
							style: normal;
						}

						@media screen and(max-width: 768px){
							font: {
								size: 20px;
							}
						}
					}

					p{
						color: #333333;
						line-height: 30px;
						font:{
							family: 'Open Sans', sans-serif;
							size: 20px;
							weight: bold;
							style: normal;
						}

						@media screen and(max-width: 1366px){
							line-height: 28px;
							font:{
								size: 18px;
							}
						}

						@media screen and(max-width: 768px){
							margin: 0;
							line-height: 38px;
							font:{
								weight: normal;
							}
						}
					}
				}
			}

			a{
				margin: 15px 0 40px 0;
				display: flex;
				-webkit-align-items: baseline;
				        align-items: baseline;
				color: #F76201;
				line-height: 18px;
				font:{
					family: 'Open Sans', sans-serif;
					size: 14px;
					weight: bold;
					style: normal;
				}

				img{
					margin: 5px;
				}
			}
		}

		.whyWe__content__right{
			width: 50%;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			
			@media screen and(max-width: 1366px){

				img.whyWe__content__right__img-1920{
					display: none;
				}

				img.whyWe__content__right__img-1366{
					display: flex;
					-webkit-justify-content: center;
					        justify-content: center;
					-webkit-align-items: center;
					        align-items: center;
				}
			}

			@media screen and(max-width: 768px){
				width: auto;
				
				img.whyWe__content__right__img-1920{
					display: block;
				}

				img.whyWe__content__right__img-1366{
					display: none;
				}
			}
		}
	}
}